@media only screen and (max-width: 560px) and (min-width: 300px){
	.container{
		width: 100vw;
		height: 100vh;
		border-radius: 0%;
		overflow: hidden;
		background-color: transparent;
	}
	.container .button_cont{
		width: 100px;
		height: 100px;
	}
	.background_container .bublebox2{
		display: none;
	}
	.container .button_cont .btn p{
		font-size: clamp(40px, 3vw, 8vw);
	}
	.text_label > *{
		font-size: clamp(5vw, 100px, 8vw);
	}
	.text_label .fromme{
		font-size: clamp(3vw, 100px, 8vw)
	}
	.text_label .iloveyou .text{
		font-size: clamp(3.5vw, 25px, 8vw);
	}
	.heart_container .p-right{
		width: 150px;
	}
	.heart_container .p-left{
		height: 150px;
	}
}